body{

margin:0;
background:black;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

canvas{

background:#87CEEB;
border:4px solid white;

image-rendering: pixelated;

}